html,
body{
    height: 100%
    font-size: 1rem
}
gradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,246,104,1) 35%, rgba(44,232,167,1) 62%, rgba(0,212,255,1) 100%);

}